name: deploy
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
      - name: Inject Secret Key
        uses: 'google-github-actions/get-secretmanager-secrets@v2'
        with:
          secrets: |-
            FIREBASE_KEY:
          export_to_environment: true
          #secrets: projects/PROJECT_NUMBER/secrets/MY_SECRET_NAME
      
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: express-practice
          image: ${{ secrets.DOCKER_USERNAME }}/express-practice:latest
          region: asia-northeast3 # Replace with your Cloud Run region